<link rel="stylesheet" href="/css/home.css">

{{>bsnavbar}}

<div class="page-header" ng-app="questions">
    <h3>Welcome to my Express Tutorial</h3>
    
    <div ng-controller="questionCtrl">
        <hr>
        
        <ul id="questions">
            
        </ul>
        
    </div>
    
    <script src="/js/angular.min.js"></script>
    
    <script src="/js/questions_controller.js"></script>
    
    
</div>


